html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

button {
    background-color: #2976b0;
    border-radius: 2px;
    border: none;
    color: white;
}

button:hover {
    background-color: rgb(16, 123, 216);
  }

button:active {
    background-color: rgb(133, 185, 231);
}

input {
    border-radius: 2px;
    border: solid 1px;
}